

nav{
	background-color:black;
	background-size: 150px 100px ;
	
	
}
.logo img {
	width:200px;
	float:left;
	height:100px;
	justify-content:left;
	align-items:left;
	margin-left:-140px;
	
}

.container {
	z-index: 70;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background:black;
	/*background-color: rgba(46, 64, 83 , 0.9);*/
}

.nav_list {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	list-style:none;
}

.nav_list li {
	display: inline-block;
	align-content: center;
	align-items: center;
	margin-left: 50px;
	padding: 20px;
}

.nav_list li a {
	color:  #e5e8e8 ; 
	text-decoration: none;
}

.nav_list li a:hover {
	background-color: #081234;
	color: 	#DAA520;
}


/* footer css */
footer {	
	position: relative;
	height: 17rem;
	background-color: black;
	padding: 20px 180px;
	font-size:13px;
}
.footer_container {
	display: flex;
	color:white;
}
.footer_item {
    margin: 0 50px;
}
.footer_item h2{
	font-size:20px;
}

/* social media */
.social_media {
	display: flex;
}
.sm_link {
	text-decoration: none;
	color: 	#DAA520;
	font-size: 2rem;
	width: 6rem;
	display: flex;
}
.sm_link:hover {
	color: #111;
}
.contact li {
	list-style-type: none;
	margin: 15px 0;
}
.contact_link a {
	text-decoration: none;
	color: 	#DAA520;
}
.contact_link a:hover {
	color: #111;
}

html {
	font-size:10px;
}

body {
	
	font-size:1.6rem;
	font-family:"Open Sans", sans-serif;
	background-color:grey;
}

#editor7 {
	position: absolute;
	right:2vh;
	top: 20vh;
}

#editor7 a {
	text-decoration: none;
	background-color: #000;
	color: #fff;
	position: relative;
	width: 8%;
	border-radius: 10px; 
	padding: 20px;
}

#editor7 a:hover {
	background-color: #4E84FF;
	color: #ffffff; ;
}
h4 {
	color: #000;
}
body.bodyBackground
{
	background:linear-gradient(to right, #072F5F, #1261A0, #072F5F, #1261A0, #072F5F);
	color:white;
}

