        
body{
	justify-content:space-evenly;
	align-items:center;
	color:black;
	background:grey;
	padding-top:100px;
}

.thumbnail_pg{
	display:flex;
	width: 100%;
	justify-content:space-evenly;
}

.card{
	width: 200px;
	height: 350px;
	padding:2rem 1rem;
	position: relative;
	display: flex;
	align-items:flex-end;
}


.card:before{
	content:"";
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:linear-gradient(rgba(248,247,255,0.5),rgba(255,215,0,0.7));
	z-index:2;
	transition:0.5s all;
	opacity:0;
	
}
.card:hover:before{
	opacity:1;
}
.card img{
	width:100%;
	height:100%;
	object-fit:cover;
	position:absolute;
	top:0;
	left:0;
}
.card .info{
	position:relative;
	z-index:3;
	
	opacity:0;
	transform:translatey(30px);
	transition:0.5s all;
}
.card:hover .info{
	opacity:1;
	transform:translatey(0px);
}

.card .info h1{
	margin:0;
	
}
.card.info p{
	letter-spacing: 0.5px;
	font-size:15px;
	margin-top:8px;
	margin-bottom:20px;
}
.card.info.btn{
	text-decoration:none;
	padding:0.5rem 1rem;
	background:#fff;
	color:#000;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	transition:0.4s ease-in-out;
}

.h1{
	width:61%;
	font-size:40px;
	margin:auto;
	background:#aaa;
}

