body {
  margin: 0;
  padding: 0;
  background: url(./bg2.jpg) no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
.box {
  margin-top: 7%;
  margin-left: 35%;
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;

  color: white;
  transition: all 0.3s ease;
}
.box-img {
  border-radius: 75%;
  width: 200px;
  height: 200px;
}
.box h1 {
  font-size: 40px;
  font-weight: 100;
}
.box h5 {
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box button {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.box button:hover {
  background: rgba(255, 255, 255, 0.4);
  color: rgb(0, 0, 0);
}
